.select {
    width: 200px;
    margin-top: 15px;
    /* margin-left: 10px; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #875b5b;
    font-weight: bold;
    outline: none;
}