.searchBar_wrapper {
}

.searchBar {
    display: flex;
    max-width: 600px;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    margin: 0 auto;
}

.searchBar__input {
    /* margin-top: 20px; */
    width: 85%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.searchBar__btn {
    text-align: center;
    width: 7.5%;
    position: relative;
    cursor: pointer;
}

.searchBar__btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}